<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <!-- 日志级别 -->
    <springProperty scope="context" name="loggingLevelRoot" source="logging.level.root" defaultValue="INFO"/>
    <!-- 控制台日志 -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="${loggingLevelRoot}">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- 减少部分debug日志 -->
    <logger name="org.springframework.context" level="WARN"/>
    <logger name="org.springframework.beans" level="WARN"/>
    <logger name="springfox.bean.validators" level="ERROR"/>
    <logger name="springfox.documentation" level="ERROR" />
    <!-- 关闭 mybatis 默认的 sql 日志 -->
    <logger name="log.mybatis" level="INFO"/>
    <!-- 基础组件 -->
    <logger name="RocketmqClient" level="WARN"/>
    <logger name="com.alibaba.nacos" level="ERROR"/>
    <Logger name="org.reflections" level="ERROR"/>
    <!-- 请求日志打印，全部使用info，方便动态调整 -->
    <logger name="net.dreamlu.mica.servlet.logger" level="INFO"/>
    <logger name="net.dreamlu.mica.reactive.logger" level="INFO"/>
    <logger name="net.dreamlu.mica.http.logger" level="INFO"/>

    <springProfile name="dev | test">
        <!-- mongo no sql -->
        <logger name="org.springframework.data.mongodb.core" level="DEBUG"/>
        <!-- mica日志 -->
        <logger name="net.dreamlu.mica" level="INFO"/>
    </springProfile>
    <springProfile name="ontest">
        <!-- mica日志 -->
        <Logger name="net.dreamlu.mica" level="INFO"/>
    </springProfile>
    <springProfile name="prod">
        <!-- mica日志 -->
        <Logger name="net.dreamlu.mica" level="ERROR"/>
    </springProfile>

    <!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

</configuration>
