name: Publish Snapshot

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew publishSnapshot
        env:
          NEXUS_OSS_USER_NAME: ${{ secrets.OSS_NAME }}
          NEXUS_OSS_PASS_WORD: ${{ secrets.OSS_PWD }}
