name: Publish Snapshot 2.7.x

on:
  push:
    branches: [ 2.7.x ]
  pull_request:
    branches: [ 2.7.x ]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 8
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Setup Gradle 8.8
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.8
      - name: Build with Gradle
        run: gradle publishSnapshot
        env:
          NEXUS_OSS_USER_NAME: ${{ secrets.OSS_NAME }}
          NEXUS_OSS_PASS_WORD: ${{ secrets.OSS_PWD }}
      - name: Cleanup Gradle Cache
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties
